*{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

body{
  font-family: 'cinzel';
}

header{
  border-bottom: 1px solid #FFBE00;
  overflow: hidden;
  position: fixed;
  box-sizing: border-box;
  background: white;
  width: 100vw;
  z-index: 1;
}

#number{
  float: right;
  margin: 20px;
}

#page-container{
  /* border: 2px solid pink; */
  position: relative;
  top: 100px;
  display: flex;
  padding: 10px;

}

#page-container > section{
  /* border: 1px solid blue; */
  padding: 20px;
  flex-grow: 1;
  min-height: 110vh;
}

#images-section{
  width: 50%;
  /* margin-left: 2vw; */
  overflow: hidden;
  /* border: 2px solid purple; */
  height: 100vh;
}

.images-section-images{
  height: 230px;
  width: 420px;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, .2);
  margin: 7px;
}

.image-two{
  float: right;
}

#value-prop-section{
  max-width: 37vw;
}

hr{
  border-radius: 15px;
  border-bottom: 1px solid black;
}

button{
  padding: 5px;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 15px;
  border: 2px solid #FFBE00;
  color: #FFBE00;
  /* display: block; */
  /* margin: auto; */
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .3);
  cursor: pointer;
}

a{
  text-decoration: none;
  display: block;
  margin: auto;
  width: 114px;

}

button:hover{
  background: #FFBE00;
  color: white;
  transition: .7s;
}

footer{
  padding: 10px;
  /* border: 2px solid yellow; */
  position: relative;
  top: 100px;
  background: #FFBE00;
  text-align: center;
  font-weight: bolder;
}

h3{
  font-size: 15px;
  color: white;
}
