*{
  border: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'cinzel', 'abel';
}

header{
  border-bottom: 1px solid #FFBE00;
  overflow: hidden;
  position: fixed;
  box-sizing: border-box;
  background: white;
  width: 100vw;
  z-index: 1;
}

#number{
  float: right;
  margin: 20px;
  font-size: 35px;
  font-weight: bolder;
}

#page-container{
  position: relative;
  top: 100px;
  padding-top: 5px;
  min-height: 77vh;
}

.contact-sections{
  padding: 10px;
  margin: 10px;

}

#contact-image{
  min-height: 60vh;
  box-shadow: 3px 3px 10px 3px rgba(0,0,0, .3);
  background: url('https://firebasestorage.googleapis.com/v0/b/utah-local-movers.appspot.com/o/moving-today%2Flast-minute-moving.jpg?alt=media&token=696de5fc-6e32-419b-a0fd-f5f628b6598c')center center no-repeat;
  background-size: cover;
}

#contact-text{
  text-align: center;
  margin: 10px;
}

#contact-text > ul > li{
  font-size: 30px;
  font-weight: bolder;
}

.contact-info-title{
  text-align: center;
  border: 2px solid black;
  max-width: 50%;
  margin: auto;
}

footer{
  position: relative;
  top: 100px;
  background: #FFBE00;
  text-align: center;
  font-weight: bolder;
}

h3{
  font-size: 15px;
  color: white;
}

/* Media Queries */

@media(max-width: 1000px){
  header{
    border-bottom: 1px solid #FFBE00;
    position: static;
    box-sizing: border-box;
    background: white;
    margin: none;
    padding: none;
  }

  header > a{
    text-align: center;
  }

  header > a > img{
    width: 70%;
    margin: auto;
    display: block;
    text-align: center;
  }

  #number{
    display: block;
    margin: 10px auto;
    font-size: 25px;
    font-weight: bolder;
    float: none;
    text-align: center;
  }

  #page-container{
    position: static;
    top: 0;
    padding-top: 0;
    min-height: auto;
  }

  footer{
    padding: 10px;
    position: static;
    top: 0;
    background: #FFBE00;
    text-align: center;
    font-weight: bolder;
  }

  #contact-image{
    margin: 20px;
    min-height: 70vh;
    box-shadow: 3px 3px 10px 3px rgba(0,0,0, .3);
    background: url("https://firebasestorage.googleapis.com/v0/b/utah-local-movers.appspot.com/o/moving-today%2Fskilled-movers.jpg?alt=media&token=dd9479f7-487f-4f5c-9e39-0feb86095fab")center center no-repeat;
    background-size: cover;
  }

  } /* End of media queries */
