*{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

body{
  font-family: 'cinzel', 'abel';
}

header{
  border-bottom: 1px solid #FFBE00;
  overflow: hidden;
  position: fixed;
  box-sizing: border-box;
  background: white;
  width: 100vw;
  z-index: 1;
}

#number{
  float: right;
  margin: 20px;
  font-size: 35px;
  font-weight: bolder;
}

#page-container{
  position: relative;
  top: 100px;
  display: flex;
  padding: 10px;

}

.container-sections{
  padding: 20px;
  flex-grow: 1;
  min-height: 110vh;
}

#images-section{
  width: 50%;
  overflow: hidden;
  height: 120vh;
}

.images-section-images{
  height: 230px;
  width: 420px;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, .2);
  margin: 15px 10px;
}

.image-two{
  float: right;
}

#value-prop-section{
  max-width: 37vw;
}

hr{
  border-radius: 15px;
  border-bottom: 1px solid black;
}

button{
  padding: 5px;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 15px;
  border: 2px solid #FFBE00;
  color: #FFBE00;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .3);
  cursor: pointer;
}

#page-container > a{
  text-decoration: none;
  display: block;
  margin: auto;
  width: 114px;

}

button:hover{
  background: #FFBE00;
  color: white;
  transition: .7s;
}

footer{
  padding: 10px;
  position: relative;
  top: 100px;
  background: #FFBE00;
  text-align: center;
  font-weight: bolder;
}

h3{
  font-size: 15px;
  color: white;
}

span{
  font-weight: bolder;
  font-size: 25px;
  color: #a22;
}

#query-image{
  display: none;
}

/* MEDIA QUERIES */
@media(max-width: 635px){
  header{
    border-bottom: 1px solid #FFBE00;
    position: static;
    box-sizing: border-box;
    background: white;
    margin: none;
    padding: none;
  }

  header > a{
    text-align: center;
  }

  header > a > img{
    width: 70%;
    margin: auto;
    display: block;
    text-align: center;
  }

  #number{
    display: block;
    margin: 10px auto;
    font-size: 25px;
    font-weight: bolder;
    float: none;
    text-align: center;
  }

  #page-container{
    position: static;
    display: block;
    padding: 0;
    min-height: inherit;

  }

  #images-section{
    display: none;
  }

  #value-prop-section{
    max-width: 100vw;
    min-height: 100vh;
    padding: 20px;
    font-size: 15px;
    text-align: center;
  }

  #query-image{
    display: block;
    width: 100%;
    height: auto;
  }

  footer{
    padding: 5px;
    position: static;
    top: 0;
    background: #FFBE00;
    text-align: center;
    font-weight: bolder;
  }

  .one, .two, .title-one-two{
    display: none;
  }

  button{
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 15px;
    border: 2px solid #FFBE00;
    color: #FFBE00;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .3);
    cursor: pointer;
    margin: 20px auto;
  }







} /* End of media query */
